@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f8f200;
  --color-secondary: #787878;
  --color-span: #51bddb;
  --font-roboto: "Roboto", sans-serif;
  --font-archangelsk: "Archangelsk", sans-serif;
  --breakpoint-phone: 26.5625rem;
  --background-image-heroPromo: url("./assets/images/Hero/heroPromoBg.svg");
}

@utility clip-hero {
  clip-path: polygon(13% 0%, 100% 0%, 100% 80%, 86% 100%, 0% 100%, 0% 20%);
}

@font-face {
  font-family: "Archangelsk";
  src: url("./assets/fonts/Archangelsk.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
